<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Topboards{% endblock %}</title>
    <!-- Bootstrap links -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- Fancybox links -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/icons/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/commonStyles.css') }}">
    {% block head %}

    {% endblock %}

    
</head>

<body class="body">
    <!-- Cart offcanvas -->
    <div class="offcanvas offcanvas-end bg-1" data-bs-theme="dark" tabindex="-1" id="offcanvasCart"
        aria-labelledby="offcanvasCartLabel">
        {% if current_user.is_authenticated %}
            {% if current_user.shopping_session and current_user.shopping_session.cart_items %}
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasCartLabel">Bag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body p-0">
                    <div id="cart-list" class="mb-4">
                        {% for cartItem in current_user.shopping_session.cart_items %}
                            <div class="cart-item mb-2 px-2" data-product-id="{{ cartItem.product.id }}">
                                <div class="cart-item-img">
                                    <img src="{{ url_for('static', filename='img/product_images/' + (cartItem.product.product_images|selectattr('is_main', 'equalto', True)|first).image_name)}}" alt="Image"/>
                                </div>
                                <div class="cart-item-description">
                                    <div class="cart-item-total-price my-1">
                                        <h6 class="item-price">${{ (cartItem.product.price | int  * cartItem.quantity) | decimal_filter }}</h6>
                                    </div>
                                    <div class="cart-item-name my-1">
                                        <h6>{{ cartItem.product.name }} {{ cartItem.product.color }}</h6>
                                    </div>
                                    <div class="product-quantity-div my-1">
                                        <span>
                                            <h6 class="decrease-item-quantity"><</h6>
                                        </span>
                                        <span>
                                            <h6 class="item-quantity-counter">{{ cartItem.quantity }}</h6>
                                        </span>
                                        <span>
                                            <h6 class="increase-item-quantity">></h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                
                    <div class="cart-tab m-auto">
                        <h6 class="text-start my-2">Total amount: $<strong id="cartTotalAmount">{{current_user.shopping_session.total}}</strong></h6>
                        <a href="/checkout"><button class="cart-order my-2">to Checkout</button></a>
                        <button class="cart-close my-2" data-bs-dismiss="offcanvas">Continue shopping</button>
                    </div>
                </div>
            {% else %}
                <div class="offcanvas-header">
                    <button type="button" class="ms-auto btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-0">
                    <div id="cart-list" class="mb-4">
                        <div class="my-3 mx-auto text-center">
                            <h3 class="my-2">Your bag is empty</h3>
                            
                            <a class="my-2" href="/catalog">
                                <button class="product-button">
                                    <h5>Go to Shop</h5>
                                </button>
                            </a>
                        </div>
                    </div> 
                </div>
            {% endif %}
        {% else %}
            {% if session.get('cart') %}
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasCartLabel">Bag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body p-0">
                    <div id="cart-list" class="mb-4">
                        {% for cartItemId, cartItem in session.get('cart').items() %}
                            <div class="cart-item mb-2 px-2" data-product-id="{{ cartItemId }}">
                                <div class="cart-item-img">
                                    <img src="{{url_for('static', filename='img/product_images/' + cartItem.imageName)}}"/>
                                </div>
                                <div class="cart-item-description">
                                    <div class="cart-item-total-price my-1">
                                        <h6 class="item-price">${{ (cartItem.price | int  * cartItem.quantity) | decimal_filter }}</h6>
                                    </div>
                                    <div class="cart-item-name my-1">
                                        <h6>{{ cartItem.name }} {{ cartItem.color }}</h6>
                                    </div>
                                    <div class="product-quantity-div my-1">
                                        <span>
                                            <h6 class="decrease-item-quantity"><</h6>
                                        </span>
                                        <span>
                                            <h6 class="item-quantity-counter">{{ cartItem.quantity }}</h6>
                                        </span>
                                        <span>
                                            <h6 class="increase-item-quantity">></h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                
                    <div class="cart-tab m-auto">
                        <h6 class="text-start my-2">Total amount: $<strong id="cartTotalAmount">{{session.get('cartTotalAmount')}}</strong></h6>
                        <a href="/checkout"><button class="cart-order my-2">to Checkout</button></a>
                        <button class="cart-close my-2" data-bs-dismiss="offcanvas">Continue shopping</button>
                    </div>
                </div>
            {% else %}
                <div class="offcanvas-header">
                    <button type="button" class="ms-auto btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-0">
                    <div id="cart-list" class="mb-4">
                        <div class="my-3 mx-auto text-center">
                            <h3 class="my-2">Your bag is empty</h3>
                            
                            <a class="my-2" href="/catalog">
                                <button class="product-button">
                                    <h5>Go to Shop</h5>
                                </button>
                            </a>
                        </div>
                    </div> 
                </div>
            {% endif %}
        {% endif %}
    </div>

    <!-- Sign in offcanvas -->
    <div class="offcanvas offcanvas-end bg-1" data-bs-theme="dark" tabindex="-1" id="offcanvasSignIn"
        aria-labelledby="offcanvasSignInLabel">
        {% if current_user.is_authenticated %}
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSignInLabel">Личный кабинет</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    
        <div class="offcanvas-body">
            <div>
                <p class="mb-1 text-3">Пользователь</p>
                <h6 class="mb-4">{{ current_user.first_name }} {{ current_user.last_name }}</h6>
        
                <p class="mb-1 text-3">E-mail</p>
                <h6 class="mb-4">{{ current_user.email }}</h6>  
        
                <p class="mb-1 text-3">Баланс</p>
                <h6 class="mb-4">{{ current_user.account_balance }}</h6>
            </div>
            <div class="account-button-wrapper">
                <a href="">
                    <div class="account-button-div">My Account</div>
                </a>
                <a href="/logout">
                    <div class="account-button-div">Logout</div>
                </a>

            </div>
        </div>

        {% else %}
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSignInLabel">
                <input class="signInUp-button d-none" id="signInTitle" type="checkbox" onchange="signInClick()"
                    checked></input>
                <label class="signInUp-label text-1" id="signIn-label" for="signInTitle">Sign In</label>
            </h5>
            <h5 class="offcanvas-title" id="offcanvasSignUpLabel">
                <input class="signInUp-button d-none" id="signUpTitle" type="checkbox" onchange="signUpClick()"></input>
                <label class="signInUp-label text-3" id="signUp-label" for="signUpTitle">Create account</label>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">

            <div class="signIn">
                <div id="loginErrorMessage" class="text-danger" role="alert">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'loginError' %}
                                    {{ message }}                            
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <form id="signInForm" class="signIn-window mx-auto" action="/login" method="post" novalidate>
                    <input class="signIn-input my-3"  name="_email"     type="email"    placeholder="Email">
                    <input class="signIn-input my-3"  name="_password"  type="password" placeholder="Password">
                    <input class="signIn-submit-input my-3" type="submit" value="Sign in">
                </form>

                <a href="#">
                    <p class="forget-pass my-3">Забыли пароль?<p>
                </a>
            </div>

            <div class="signUp d-none">
                <div id="signUpErrorMessage" class="text-danger" role="alert">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'signUpError' %}
                                    {{ message }}                            
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <form id="signUpForm" class="signIn-window mx-auto" action="/signUp" method="post" novalidate>
                    <input class="signIn-input my-3" id="_firstName"   name="_firstName"   type="text"     placeholder="First name">
                    <input class="signIn-input my-3" id="_lastName"    name="_lastName"    type="text"     placeholder="Surname">
                    <input class="signIn-input my-3" id="_phoneNumber" name="_phoneNumber" type="tel"      placeholder="Phone number">
                    <input class="signIn-input my-3" id="_email"       name="_email"       type="email"    placeholder="Email">
                    <input class="signIn-input my-3" id="_password"    name="_password"    type="password" placeholder="Password">
                    <input class="signIn-input my-3" id="_password_confirm" name="_password_confirm" type="password" placeholder="Confirm password">
                    <div class="checkbox-div my-3">
                        <input type="checkbox" id="_data-processing-agreement" name="_data-processing-agreement">
                        <label class="ms-1" for="personal-data-agreement">
                            I agree to the processing of <a href="#">personal data</a>
                        </label>
                    </div>
                    <input class="signIn-submit-input my-3" type="submit" value="Create account">
                </form>
                
            </div>

        </div>
        {% endif %}
    </div>

    <header id="header" class="zindex-header"> 
        <section class="mobile-header zindex-header">

            <div class="mobile-icons">
                <button id="sidebarCollapse" onclick="sidebarMenuToggle()" type="button" class="">
                    <img src="{{ url_for('static', filename='fonts/menu_icon.svg') }}" alt="" class="icon menu">
                </button>
            </div>
            
            <a href="/">
                <div class="logo">
                    <h1 class="logo-inscription">Topboards</h1>
                </div>
            </a>
    
            <div class="account-actions mobile-icons">
    
                <img src="{{ url_for('static', filename='fonts/search_icon.svg') }}" alt="" class="icon search-icon">
    
                <a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart">
                    <div class="cart-icon">
                        <img class="icon" src="{{ url_for('static', filename='fonts/cart_icon.svg') }}" alt="cart">
                        
                        <span id="cart-items-counter">
                            {% if current_user.is_authenticated %}
                                {{ current_user.shopping_session.cart_items | length }}
                            {% elif session.get('cart') %}
                                {{ session.get('cart') | length }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                        
                    </div>
                </a>
    
                <a data-bs-toggle="offcanvas" href="#offcanvasSignIn" role="button" aria-controls="offcanvasSignIn">
                    <img src="{{ url_for('static', filename='fonts/user_icon.svg') }}" alt="" class="icon user-icon">
                </a>
    
            </div>
        </section>
        
        <section class="desktop-header">
            <section class="top-header">

                <a href="{{ url_for('homeView.home') }}">
                    <div class="logo">
                        <h1 class="logo-inscription">Topboards</h1>
                    </div>
                </a>
    
                <div class="contact-info">
                    <a href="https://t.me/role4" target="_blank">
                        <div class="icon-circle"><img class="icon" src="{{ url_for('static', filename='fonts/telegram_icon.svg') }}" alt="telegram"></div>
                    </a>
                    <a href="https://www.instagram.com/arseniy_akopov/" target="_blank">
                        <div class="icon-circle"><img class="icon" src="{{ url_for('static', filename='fonts/instagram_icon.svg') }}" alt="instagram"></div>
                    </a>
                    <a href="https://www.youtube.com" target="_blank">
                        <div class="icon-circle"><img class="icon" src="{{ url_for('static', filename='fonts/youtube_icon.svg') }}" alt="youtube"></div>
                    </a>
                    <a href="https://vk.com/id327642053" target="_blank">
                        <div class="icon-circle"><img class="icon" src="{{ url_for('static', filename='fonts/vk_icon.svg') }}" alt="vk"></div>
                    </a>
                </div>
    
                <div class="search">
                    <input type="text" class="search-box" placeholder="Search...">
                </div>
    
                <div class="account-actions">
    
                    <a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart">
                        <div class="cart-icon">
                            <img class="icon" src="{{ url_for('static', filename='fonts/cart_icon.svg') }}" alt="cart">
                            <span>
                            {% if current_user.is_authenticated %}
                                {{ current_user.shopping_session.cart_items | length }}
                            {% elif session.get('cart') %}
                                {{ session.get('cart') | length }}
                            {% else %}
                                0
                            {% endif %}
                            </span>
                        </div>
                    </a>
    
                    {% if current_user.is_authenticated %}
                        <a href="#">
                            <img class="icon" src="{{ url_for('static', filename='fonts/like_icon.svg') }}" alt="like">
                        </a>
                    {% endif %}
                    <a data-bs-toggle="offcanvas" href="#offcanvasSignIn" role="button" aria-controls="offcanvasSignIn">
                        <img class="icon" src="{{ url_for('static', filename='fonts/user_icon.svg') }}" alt="user">
                    </a>
    
                    <!-- offcanvas here -->
    
                </div>
    
            </section>
    
            <section class="bottom-header">
                <div class="nav-list">
                    <div class="container-fluid">
                        <div class="row gb-3 my-2">
                            <div class="col-md-3 col-xl-2 mx-auto">
                                <div class="nav-list-element">
                                    <h5 class="nav-list-category">Keyboards</h5>
                                    <ul class="sub-nav-list">
                                        <li>
                                            <a href="/catalog/keyboards">
                                                <h5 class="sub-nav-list-category">Mechanical Keyboards</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/catalog/keyboards">
                                                <h5 class="sub-nav-list-category">Membrane Keyboards</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-xl-2 mx-auto">
                                <div class="nav-list-element">
                                    <h5 class="nav-list-category">Mice</h5>
                                    <ul class="sub-nav-list">
                                        <li>
                                            <a href="/catalog/mice">
                                                <h5 class="sub-nav-list-category">Wireless Mice</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/catalog/mice">
                                                <h5 class="sub-nav-list-category">Wired Mice</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">With RGB</h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-xl-2 mx-auto">
                                <div class="nav-list-element">
                                    <h5 class="nav-list-category">Accessories</h5>
                                    <ul class="sub-nav-list">
                                        <li>
                                            <a href="/catalog/accessories">
                                                <h5 class="sub-nav-list-category">All Accessories</54>
                                            </a>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">Mouse Pads</54>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">Cables</h5>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">Switches</h5>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">Mouse Glides</h5>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">Mouse Cases</h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-xl-2 mx-auto">
                                <div class="nav-list-element">
                                    <h5 class="nav-list-category">Custom and repair</h5>
                                    <ul class="sub-nav-list">
                                        <li>
                                            <a href="/catalog/otherServices">
                                                <h5 class="sub-nav-list-category">All services</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">Keyboard repair</h5>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">Switch lubricants</h5>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">Soundproofing installation</h5>
                                        </li>
                                        <li>
                                            <h5 class="sub-nav-list-category">Keyboard cleaning</h5>
                                        </li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>     
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' or category == 'error' %}                
                    <div class="custom-alert zindex-alert alert-{{category}} show">
                        <h6>{{ message }}</h6>
                        <button class="no-style-button close-button">
                            <img class="icon-xs" onclick="closeAlert()" src="{{ url_for('static', filename = 'fonts/close_icon.svg') }}" alt="">
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="wrapper">

        <div id="nav-menu" class="navbar ps-3 d-none">

            <ul class="main-list nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link" aria-current="page">
                        <h6>Menu</h6>
                    </a>
                </li>
                <li class="nav-item ms-1 mb-2">
                    <a class="nav-link">
                        <div class="sub-list-title">
                            <h6>Keyboards</h6>
                            <img class="menu-arrow icon-xs" src="{{ url_for('static', filename='fonts/arrow_down_icon.svg') }}">
                        </div>
                    </a>
                    <ul class="sub-list nav flex-column">
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="/catalog/keyboards">
                                <h6>Mechanical Keyboards</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="/catalog/keyboards">
                                <h6>Membrane Keyboards</h6>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ms-1 mb-2">
                    <a class="nav-link">
                        <div class="sub-list-title">
                            <h6>Mice</h6>
                            <img class="menu-arrow icon-xs" src="{{ url_for('static', filename='fonts/arrow_down_icon.svg') }}">
                        </div>
                    </a>
                    <ul class="sub-list nav flex-column">
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="/catalog/mice">
                                <h6>Wireless Mice</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="/catalog/mice">
                                <h6>Wired Mice</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="/catalog/mice">
                                <h6>With RGB</h6>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ms-1 mb-2">
                    <a class="nav-link">
                        <div class="sub-list-title">
                            <h6>Accessories</h6>
                            <img class="menu-arrow icon-xs" src="{{ url_for('static', filename='fonts/arrow_down_icon.svg') }}">
                        </div>
                    </a>
                    <ul class="sub-list nav flex-column">
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="/admin/orders">
                                <h6>Mouse Pads</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="#">
                                <h6>Cables</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="#">
                                <h6>Switches</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="#">
                                <h6>Mouse Glides</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="#">
                                <h6>Mouse Cases</h6>
                            </a>
                        </li>
                    </ul>
                </li>
                <li href="#" class="nav-item ms-1 mb-2">
                    <a class="nav-link">
                        <div class="sub-list-title">
                            <h6>Custom and Repair</h6>
                            <img class="menu-arrow icon-xs" src="{{ url_for('static', filename='fonts/arrow_down_icon.svg') }}">
                        </div>
                    </a>
                    <ul class="sub-list nav flex-column">
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="#">
                                <h6>Keyboard Repair</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="#">
                                <h6>Switch Lubricants</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="#">
                                <h6>Soundproofing Installation</h6>
                            </a>
                        </li>
                        <li class="nav-item ms-1 my-1">
                            <a class="nav-link" aria-current="page" href="#">
                                <h6>Keyboard Cleaning</h6>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
    </div>



    <footer id="footer" class="container-fluid mt-5 py-3">
        <div class="footer-row mx-auto">

            <div class="row">

                <div class="footer-section col-lg-3 col-6">
                    <h5 class="my-3">Information</h5>
                    <p class="mb-2">About us</p>
                    <p class="mb-2">Delivery</p>
                    <p class="mb-2">Privacy policy</p>
                    <p class="mb-2">Terms of agreement</p>
                </div>
                <div class="footer-section col-lg-3 col-6">
                    <h5 class="my-3">Additional</h5>
                    <p class="mb-2">Manufacturers</p>
                    <p class="mb-2">Gift vouchers</p>
                    <p class="mb-2">Affiliate Program</p>
                    <p class="mb-2">Discounts</p>
                </div>
                <div class="footer-section col-lg-3 col-6">
                    <h5 class="my-3">Personal</h5>
                    <p class="mb-2">Account</p>
                    <p class="mb-2">Order history</p>
                    <p class="mb-2">Bookmarks</p>
                    <p class="mb-2">Newsletter</p>
                </div>
                <div class="footer-section col-lg-3 col-6">
                    <h5 class="my-3">Contacts</h5>
                    <p class="mb-2">Telegram</p>
                    <p class="mb-2">Whatsapp</p>
                    <p class="mb-2">help@topboards.ru</p>
                    <p class="mb-2">8 (916) 038 00 00</p>
                </div>
            </div>
        </div>

    </footer>
    
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>
    {% block scripts %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cartManager.js') }}"></script>

    {% if not(current_user and current_user.is_authenticated) %}
        <script src="{{ url_for('static', filename='js/signin.window.js') }}"></script> 
    {% endif %}
    
</body>

</html>