{% extends "layouts/admin_base.html" %}

{% block title %}Orders{% endblock %}

{% block head %} <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="d-flex justify-content-between align-items-end">
            <h2 class="category-title mt-3">Orders</h2>
            <a class="add-product-button" href="/admin/order">
                <img class="icon-xxl" src="{{ url_for('static', filename = 'fonts/plus_icon.svg') }}" alt="new">
            </a>
        </div>
    </div>
</div>

<div class="container-fluid my-3">
    <div class="row gap-1 row-gap-3">

        <div class="table-wrapper col-lg p-2">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Items</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="col-disappear">Payment method</th>
                        <th scope="col">Cost price</th>
                        <th scope="col" class="col-disappear">Shipping</th>
                        <th scope="col" class="col-disappear">Taxes</th>
                        <th scope="col">Total</th>
                        <th scope="col" class="col-disappear">Date Added</th>
                        <th scope="col" class="col-disappear">Date Modified</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr class="cursor-pointer" onclick="window.location='order/update/{{order.id}}';"> 
                            <th scope="row">{{ order.id }}</th>
                            <td>{{ order.user.first_name }} {{ order.user.last_name }}</td>
                            <td>{{ order.order_items | length }}</td>
                            <td>{{ order.current_status | get_order_status_name_filter  }}</td>
                            <td class="col-disappear">{{ order.payment_details.method | get_order_payment_method_name_filter }}</td>
                            <td>${{ order.sub_total }} </td>
                            <td class="col-disappear">${{ order.shipping_cost }}</td>
                            <td class="col-disappear">${{ order.taxes_cost }}</td>
                            <td>${{ order.total_cost }}</td>
                            <td class="col-disappear">{{ order.created_at.strftime('%H:%M:%S, %d.%m.%Y') }}</td>
                            <td class="col-disappear">{{ order.modified_at.strftime('%H:%M:%S, %d.%m.%Y') }}</td>
                            <td>
                                <div class="text-center">                                
                                    <button type="button" class="no-style-button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="setDeleteLink(event, '{{order.id}}')">
                                        <img class="icon-m" src="{{ url_for('static', filename = 'fonts/delete_icon.svg') }}" alt="delete" >
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-1">
                        
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm delete</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>  
                        </div>
                        <div class="modal-body">
                            <h6 class="text-3 mb-4">Are you sure you want to delete this product?</h6>
                            
                            <div class="d-flex justify-content-left gap-3">
                                <a id="delete-link">
                                    <div class="confirm-button-div">Delete</div>
                                </a>
                                <a data-bs-dismiss="modal" aria-label="Close">
                                    <div class="confirm-button-div">Cancel</div>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}


{% block scripts %} <!-- js -->
<script src="{{ url_for('static', filename='js/adminOrders.js') }}"></script>
{% endblock %}